.deps
/.version
/.version.bak
/Makefile.in
/aclocal.m4
/autom4te.cache
/bootstrap.stamp
/configure
/dev/*.pyc
/share/urbi/tutorial-content.u
/src/Makefile.in
/src/ast/transformer.cc
/src/ast/transformer.cc~
/src/ast/transformer.hh
/src/ast/transformer.hh~
/src/ast/transformer.stamp
/src/include
/src/kernel/config.h.in
/src/kernel/config.h.in~
/src/lib
/src/object/symbols.hh.old
