[submodule "tests"]
	path = tests
	url = git@git.gostai.com:urbivalid.git
[submodule "bison"]
	path = bison
	url = git@git.gostai.com:bison.git
[submodule "build-aux"]
	path = build-aux
	url = git@git.gostai.com:build-aux
[submodule "doc/document-aux"]
	path = doc/document-aux
	url = git@git.gostai.com:document-aux
[submodule "submodules/modules"]
	path = submodules/modules
	url = git@git.gostai.com:modules
[submodule "fsm"]
	path = fsm
	url = git@git.gostai.com:fsm
[submodule "sdk-remote/libport"]
	path = sdk-remote/libport
	url = git@git.gostai.com:libport.git
[submodule "sdk-remote/jpeg"]
	path = sdk-remote/jpeg
	url = git@git.gostai.com:libjpeg-6b.git
