.deps
/.version
/.version.stamp
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/configure
/dev/*.pyc
/doc/Makefile.in
/doc/tests/faq/
/doc/tests/installation/
/doc/tests/k1-to-k2/
/doc/tests/specs/
/doc/tests/tutorial/
/doc/tests/urbi-sdk/
/lib
/lib/network
/sdk
/share/urbi/tutorial-content.u
/src/Makefile.in
/src/ast/transformer.cc
/src/ast/transformer.cc~
/src/ast/transformer.hh
/src/ast/transformer.hh~
/src/ast/transformer.stamp
/src/include
/src/kernel/config.h.in
/src/lib
/src/object/any-to-boost-function.hxx
/src/object/cxx-primitive.hxx
/src/object/executable.hh
/src/object/symbols.hh.old
