[submodule "libport"]
	path = libport
	url = git@core.gostai.com:libport
[submodule "tests"]
	path = tests
	url = git@core.gostai.com:urbivalid.git
[submodule "urbi-sdk-remote"]
	path = urbi-sdk-remote
	url = git@core.gostai.com:urbi-sdk-remote.git
