/.version
/.version.stamp
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/configure
/doc/Makefile.in
/include/urbi/ucallbacks.hh
/sdk/config.h.in
/src/Makefile.in
/src/swig/Makefile.in
/src/tests/Makefile.in
