Source: urbi
# See http://www.debian.org/doc/debian-policy/ch-archive.html#s-subsections
Section: unknown
Priority: extra
Maintainer: Adam Oleksy <adam.oleksy@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autoconf, autotools-dev, m4, flex, libboost-all-dev (>= 1.38), libortp-dev, pkg-config, python-yaml, doxygen, graphviz, imagemagick, ghostscript, gnuplot-nox, texlive-font-utils, transfig, bc, libx11-dev, swig, libxext-dev
Standards-Version: 3.9.1
Homepage: http://www.gostai.com/
#Vcs-Git: git://git.debian.org/collab-maint/urbi-sdk.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/urbi-sdk.git;a=summary

Package: urbi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Urbi operating system to control robots
 Urbi is an open source robotics software platform.  It is
 cross-platform: it supports several robots (Gostai Jazz, Segway RMP,
 Pioneer 3-DX, LEGO Mindstorms NXT, Aldebaran Nao...) and simulators
 (Webots...).  It runs on top of all the major operating systems.  It
 features a C++/Java middleware, UObject, to interface components such
 as motors, cameras, and algorithms; and an innovative scripting
 language, urbiscript, with built-in support for parallel and
 event-based programming.  It is compatible with ROS, the Robotic
 Operating System.

Package: urbi-doc
Architecture: any
Description: Urbi SDK documentation.

Package: urbi-dev
Architecture: any
Description: Urbi SDK.
